.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    margin-left: 55px;
    margin-top: 40px;
}

.navbar__rectangle {
    position: absolute;
    width: 473px;
    height: 1px;
    background: #979797;
    left: 167px;
    z-index: 1;
    margin-top: 40px;
    opacity: 25.15%;
}

.navbar__navigation {

    margin-top: 40px;
    flex-direction: row;
    width: 830px;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
}

.navbar__navigation-items {

    margin-left: 123px;
    margin-top: 22px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 167px;

}

.navbar__navigation-items li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    gap: 11px;

}



.navbar__navigation-items li p:first-child {
    font-family: var(--ff-sans-cond);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-decoration: none;
    color: #FFFFFF;


}

.navbar__navigation-items li p:nth-child(2) {
    font-family: var(--ff-sans-cond);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    margin-right: 48px;

    color: #FFFFFF;
}